/* Write your CSS here */
.projects-card-container {
  width: 100%;
  height: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}
.project-image {
  height: 100%;
  width: 100%;
}
.project-title-duration-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .project-title-duration-container {
    flex-direction: row;
    align-items: center;
  }
}
.project-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .project-title {
    font-size: 24px;
  }
}
.duration-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calander-icon {
  color: #171f46;
}
.duration {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  margin-left: 4px;
}
@media screen and (min-width: 768px) {
  .duration {
    font-size: 14px;
  }
}
.project-description {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .project-description {
    font-size: 16px;
  }
}
.visit-link {
  text-align: center;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  text-decoration: none;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .visit-link {
    font-size: 18px;
  }
}
